* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
input {
    text-align: right;
    width: 100%;
    background: transparent;
    font-size: 25px;
    color: white;
    padding: 20px;
}
table {
    background: black;
    width: 280px;
    border-collapse: collapse;
    displaay: block;
}
 
tbody {
    background: gray;
    width: 10%;
}
td {
    width: 25%;
}

button {
    width: 100%;
    height: 50px;
}





