* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.box {
    width: 200px;
    height: 200px;
    background: red;
    border: 1px solid yellow;
    transition: all .3s ease;
}
.box2 {
    width: 200px;
    height: 200px;
    background: blue;
    transition: .5s ease-in;
}
.box3 {
    width: 200px;
    height: 200px;
    background: green;
    transition: 1s ease-in-out;
}
.box:hover {
    transform: translate(150px, 100px)
}
.box2:hover {
    transform: rotate(45deg);
}
.box3:hover {
    transform: scale(0.5, 2);
}
nav {
    width: 200px;
    height: 100vh;
    background: blue;
    transition: all .5s ease;
}
ul {
    list-style-type: none;
}
li {
    padding: 15px;
    color: white;
    font-size: 20px;
    transition: all .3s ease;
}
li:hover {
    background: navy;
}
.box5 {
    width: 30px;
    height: 30px;
    background: black;
    position: fixed;
    top: 20px;
    right:20px;
}
.box5:hover ~ nav {
    transform: translateX(-200px)
}








